@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Exo+2&family=Kalam&family=Montserrat+Alternates&family=Patrick+Hand&family=Righteous&family=Unbounded&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("./components/Assets/background.webp");
  background-size: cover;
}
/* TITLES */
.nav-title {
  font-family: "Exo 2", sans-serif;
  font-size: 28px;
}
.word {
  line-height: 80px;
  font-weight: bold;
  color: #5f4e80;
}
/* HOME BUTTONS */
.customBlue {
  background-color: #c6f6fab4;
}
.customPink {
  background-color: #fad3e2b4;
}
/* ANIMATIONS */
.animate__animated.animate__fadeInDown.one {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInDown.two {
  --animate-duration: 1.25s;
}
.animate__animated.animate__fadeInDown.three {
  --animate-duration: 1.5s;
}
.animate__animated.animate__fadeInDown.four {
  --animate-duration: 1.7s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1.5s;
}

/* CAROUSEL */
.carousel {
  background: #eee;
}

.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* FLICKITY */
/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}
.flickity-enabled:focus {
  outline: 0;
}
.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-button {
  position: absolute;
  background: #64ddcb94;
  border: none;
  color: rgb(119, 113, 113);
}
.flickity-button:hover {
  background: #87c0b9bf;
  cursor: pointer;
}
.flickity-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #19f;
}
.flickity-button:active {
  opacity: 0.6;
}
.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.flickity-button-icon {
  fill: currentColor;
}
.flickity-prev-next-button {
  top: 95%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 5%;
}
.flickity-prev-next-button.next {
  right: 5%;
}
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.flickity-rtl .flickity-page-dots {
  direction: rtl;
}
.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
