@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Exo+2&family=Kalam&family=Montserrat+Alternates&family=Patrick+Hand&family=Righteous&family=Unbounded&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("./components/Assets/background.jpg");
  background-size: cover;
}
/* TITLES */
.nav-title {
  font-family: "Exo 2", sans-serif;
  font-size: 28px;
}
.word {
  line-height: 80px;
  font-weight: bold;
  color: #5f4e80;
}
/* HOME BUTTONS */
.customBlue {
  background-color: #c6f6fab4;
}
.customPink {
  background-color: #fad3e2b4;
}
/* ANIMATIONS */
.animate__animated.animate__fadeInDown.one {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInDown.two {
  --animate-duration: 1.25s;
}
.animate__animated.animate__fadeInDown.three {
  --animate-duration: 1.5s;
}
.animate__animated.animate__fadeInDown.four {
  --animate-duration: 1.7s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1.5s;
}
